<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>CosmeticShop</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

		<!-- Bootstrap -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		
		<!-- login -->
		<link href="css/login.css" rel="stylesheet" type="text/css"/>

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		<link href="css/cartStyle.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<!-- Nav bar -->
		<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="asset/css/animate.css">   
    	<link rel="stylesheet" href="asset/css/owl.theme.default.min.css">
	    <link rel="stylesheet" href="asset/css/owl.carousel.min.css">
	    <link rel="stylesheet" href="asset/css/magnific-popup.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
	    <link rel="stylesheet" href="asset/css/flaticon.css">
	    <link rel="stylesheet" href="asset/css/style.css">
	    <script src= "https://kit.fontawesome.com/2961dbb4cf.js" crossorigin="anonymous">  </script>
<style>
table thead tr th{
   text-align: center;
}

</style>
</head>
	<body>
		
<!-- nav bar start-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/admin" style="margin-right:300px; margin-left:-50px">Camellia <span>shop</span></a>
	            
	    </div>
	  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('/img/bg_3.jpg'); height: 220px" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate d-flex align-items-end" style="margin-bottom:130px">
          </div>
        </div>
      </div>
    </div>
	
    
    
    <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <th:block th:each="o:${listO}">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a th:href="@{'/detail?id='+${o.bid}}"><img th:src="${o.image}" alt="Image"></a>
                                                    <p>[[${o.title}]]</p>
                                                </div>
                                            </td>
                                            <td class="price">[[${o.price}]]</td>
                                            <td>[[${o.quantity}]]</td>
                                            <td class="subtotal">[[${o.quantity*o.price}]]</td>
                                            
                                        </tr>
                                    </tbody>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="coupon">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Thông tin đơn hàng</h1>
                                            <p th:if="${status!=null && status==0}">Trạng thái<span th:if="${status!=null && status==0}">Chưa xác nhận</span></p>
                                            <p th:if="${status!=null && status==1}">Trạng thái<span th:if="${status!=null && status==1}">Đã xác nhận</span></p>
                                            <p>Tổng tiền<span id="preSum">$99</span></p>
                                            <p>Phí ship<span id="ship">$1</span></p>
                                            <h2>Thành tiền<span id="sum">$100</span></h2>
                                        </div>
                                        <div class="cart-btn">
                                        <button th:if="${status!=null && status==0}" onclick="redirectToOrderPending()">Trở về</button>
                                        <button th:if="${status!=null && status==1}" onclick="redirectToOrderAccepted()">Trở về</button>
										    <button th:if="${status!=null && status==0}"><a th:href="@{'/ordered?oid=' + ${oid}}"onclick=" return confirm('Bạn có chắc chắn muốn xác nhận đơn hàng?')" style="color:white" >Xác nhận</a></button>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Ship form -->
                    <div class="col-lg-12">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Tên</th>
                                            <th>Địa chỉ</th>
                                            <th>Số điện thoại</th>
                                            <th>Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <th:block th:object="${ship}">
                                    <tbody class="align-middle">
                                        <tr>
                                           <td>[[${ship.name}]]</td>
                                           <td>[[${ship.address}]]</td>
                                           <td>[[${ship.phone}]]</td>
                                           <td th:if="${ship.mess!=null}">[[${ship.mess}]]</td>
                                           <td th:if="${ship.mess==null}">Không có ghi chú</td>
                                        </tr>
                                    </tbody>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
      
<footer class="footer">
     <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Dịch vụ</h4>
          <ul>
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Chính sản phẩm bảo mật</a></li>
            <li><a href="#">Giới thiệu Camellia</a></li>
            <li><a href="#">Hệ thống nhà sản phẩm</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Hỗ trợ</h4>
          <ul>
            <li><a href="#">Chính sản phẩm đổi trả</a></li>
            <li><a href="#">Chính sản phẩm vận chuyển</a></li>
            <li><a href="#">Chính sản phẩm bảo hành</a></li>
            <li><a href="#">Chính sản phẩm khách sỉ</a></li>
            <li><a href="#">Phương thức thanh toán</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Online shop</h4>
          <ul>
            <li><a href="#">Hướng dẫn đặt hàng</a></li>
            <li><a href="#">Hướng dẫn hủy đơn</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Thông báo</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
     </div>
  </footer>	
		<!-- Liquor theme -->
      <script src="asset/js/jquery.min.js"></script>
	  <script src="asset/js/jquery-migrate-3.0.1.min.js"></script>
	  <script src="asset/js/popper.min.js"></script>
	  <script src="asset/js/bootstrap.min.js"></script>
	  <script src="asset/js/jquery.easing.1.3.js"></script>
	  <script src="asset/js/jquery.waypoints.min.js"></script>
	  <script src="asset/js/jquery.stellar.min.js"></script>
	  <script src="asset/js/owl.carousel.min.js"></script>
	  <script src="asset/js/jquery.magnific-popup.min.js"></script>
	  <script src="asset/js/jquery.animateNumber.min.js"></script>
	  <script src="asset/js/scrollax.min.js"></script>
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	  <script src="asset/js/google-map.js"></script>
	  <script src="asset/js/main.js"></script>
    
    <script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"></script>

	</body>
   <script>
//Khởi tạo biến sum
	let sum = 0;
	
	// Lấy tất cả các phần tử có lớp subtotal
	const subtotalDivs = document.querySelectorAll('.subtotal');
	const priceDivs = document.querySelectorAll('.price');
	
	// Duyệt qua từng phần tử và tính tổng các subtotal
	const subtotalArray = Array.from(subtotalDivs).map(subtotalDiv => {
	  const subtotal = parseFloat(subtotalDiv.textContent);
	  sum += subtotal;
	  return subtotal;
	});
	const priceArray = Array.from(priceDivs).map(priceDiv => {
		  const subtotal = parseFloat(priceDiv.textContent);
		  return subtotal;
		});
	
	// Định dạng lại giá trị và hiển thị lên trang
	subtotalDivs.forEach((subtotalDiv, index) => {
	  const formattedSubtotal = (subtotalArray[index]).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
	  subtotalDiv.textContent = formattedSubtotal;
	});
	
	priceDivs.forEach((priceDiv, index) => {
		  const formattedSubtotal = (priceArray[index]).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
		  priceDiv.textContent = formattedSubtotal;
		});
	
	document.getElementById('preSum').innerHTML = (sum).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
	document.getElementById('ship').innerHTML = (20000).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
	// Định dạng lại tổng và hiển thị lên trang
	if(sum>0){
		sum += 20000;
	}
	const formattedSum = (sum).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
	document.getElementById('sum').innerHTML =  formattedSum;


</script>	

<script>
    function redirectToHome() {
        window.location.href = "/admin";
    }

    function redirectToOrderPending() {
        window.location.href = "/orderPending";
    }
    
    function redirectToOrderAccepted() {
        window.location.href = "/accepted";
    }
</script>

    
<script>

function searchToggle(obj, evt){
    var container = $(obj).closest('.search-wrapper');

    if(!container.hasClass('active')){
          container.addClass('active');
          evt.preventDefault();
    }
    else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
          container.removeClass('active');
          // clear input
          container.find('.search-input').val('');
          // clear and hide result container when we press close
          container.find('.result-container').fadeOut(100, function(){$(this).empty();});
    }
}
</script>
</html>
